<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://thelia.net/schema/dic/module"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/module http://thelia.net/schema/dic/module/module-2_2.xsd">
    <fullnamespace>PayFast\PayFast</fullnamespace>
    <descriptive locale="en_US">
        <title>Pay with PayFast</title>
    </descriptive>
    <logo></logo>
    <images-folder>images</images-folder>
    <languages>
        <language>en_US</language>
    </languages>
    <version>1.0.0</version>
    <author>
        <name>PayFast</name>
        <email></email>
        <website>https://www.payfast.co.za/</website>
    </author>
    <type>payment</type>
    <thelia>2.2.0</thelia>
    <stability>prod</stability>
</module>
